<section class="col-xs-12 content">
	<group>
	<div class="so-back islandBack islandBack--t">
		<div class="island">
			<div class="island__header">
				{{ 'claimable_balances' | translate}}
				<a class="btn btn-success btn-sm" ng-click="refresh()" ng-disabled="working">
					<span class="glyphicon glyphicon-refresh"></span> {{'refresh' | translate}}</a>
			</div>
			<table class="BalancesTable">
				<thead>
					<tr class="BalancesTable__headerRow">
						<td>{{'asset' | translate}}</td>
						<td><sapn>{{'balance' | translate}}</sapn></td>
						<td><sapn>{{'trust_limit' | translate}}</sapn></td>
					</tr>
				</thead>
				<tbody>
					<tr class="BalancesTable__row" ng-repeat-start="(id, item) in unclaim">
						<td ng-init="gateway=gateways.getSourceById(item.issuer, item.code)">
							<gateway name="{{gateway.name}}" logo="{{gateway.logo}}" website="{{gateway.website}}"
								code="{{item.code}}" address="{{item.issuer}}"></gateway>
						</td>
						<td class="BalancesTable__row__amount">
							<span> {{item.amount | number : 7}}</span></td>
						<td>
							<div class="row__shareOption">
								<button class="s-button btn btn-success" ng-click="claim(id)" ng-disabled="item.claiming">{{'claim' | translate}} {{item.code}}</button>
								<span ng-show="item.error">{{item.error}}</span>

								<button class="s-button btn btn-danger" ng-show="hasLine(asset.code, asset.issuer) && !hasBalance(asset.code, asset.issuer)" ng-click="delTrust(asset.code, asset.issuer)" ng-disabled="isChanging(asset.code, asset.issuer)">{{'trust_remove' | translate}}</button>
								<button class="s-button btn btn-warning" ng-show="hasLine(asset.code, asset.issuer) && hasBalance(asset.code, asset.issuer)" ng-disabled="true">{{'trust_remove_desc' | translate}}</button>
								
							</div>
							
						</td>
					</tr>
					<tr ng-repeat-end ng-show="item.predicate" class="BalancesTable__row">
						<td colspan=3>
							<pre>{{item.predicate}}</pre>

						</td>
					</tr>
				</tobdy>
			</table>
		</div>
	</div>
	</group>
</section>
