<section class="col-xs-12 content">
	<group>
	<div class="so-back islandBack islandBack--t">
		<div class="island">
				<div class="OfferTables island__sub">
					<div class="OfferTables__tables island__sub__division">
						<h3 class="island__sub__division__title" translate="base_asset">Base asset</h3>
					</div>
					<div class="OfferTables__table island__sub__division">
						<h3 class="island__sub__division__title" translate="counter_asset">Counter asset</h3>
					</div>
				</div>
				
				<div class="PairPicker__pair">
					<div class="AssetPair">
						<div class="AssetPair__card">
							<div class="AssetCard AssetCard--fixed">
								<div class="AssetCard__main">
									<div class="AssetCard__logo">
										<img class="AssetCard__logo__image" data-ng-src="{{base.logo}}">
									</div>
									<div class="AssetCard__content">
										<div class="AssetCard__header">
											<span class="AssetCard__code">{{base_code}}</span> 
											<span class="AssetCard__federation">{{base.name}}</span>
										</div>
										<p class="AssetCard__issuerAccountId" title="{{__address}}">{{base_issuer | shortaddress}}</p>
									</div>
								</div>
							</div>
						</div>
						<div style="font-size: 20px;">
							<a href="javascript:" ng-click="flip()"><span class="glyphicon glyphicon-transfer"></span></a>
						</div>
						<div class="AssetPair__card">
							<div class="AssetCard AssetCard--fixed">
								<div class="AssetCard__main">
									<div class="AssetCard__logo">
										<img class="AssetCard__logo__image" data-ng-src="{{counter.logo}}">
									</div>
									<div class="AssetCard__content">
										<div class="AssetCard__header">
											<span class="AssetCard__code">{{counter_code}}</span> 
											<span class="AssetCard__federation">{{counter.name}}</span>
										</div>
										<p class="AssetCard__issuerAccountId" title="{{__address}}">{{counter_issuer | shortaddress}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="PairPicker__auxInfo" ng-show="!show_pair">
					{{'pick_book' | translate}} <a href="javascript:" ng-click="choosePair()">{{'trade_pair' | translate}}</a>
				</div>
				<div class="PairPicker__auxInfo" ng-show="show_pair">
					{{'pick_trade' | translate}} <a href="javascript:" ng-click="choosePair()">{{'trade_page' | translate}}</a>
				</div>
		</div>
		
		<div class="so-back islandBack islandBack--t" ng-show="show_pair">
			<div class="island">
				<div class="island__header" translate="trade_pick">Choose asset to trade</div>
				<div class="AddTrustFromDirectory">
					<div class="row" ng-init="native=gateways.getSourceById('')">
						<div class="row__fixedAsset">
							<gateway name="{{native.name}}" logo="{{native.logo}}"
									website="{{native.website}}" code="{{currentNetwork.coin.code}}" address=""></gateway>
						</div>
						<div class="row__shareOption">
							<button class="s-button btn btn-success"
								ng-click="pick('base', currentNetwork.coin.code, '')"
								ng-disabled="isBase(currentNetwork.coin.code, '')"
								translate="as_base">As Base Asset</button>
						</div>
						<div class="row__shareOption">
							<button class="s-button btn btn-success"
								ng-click="pick('counter', currentNetwork.coin.code, '')"
								ng-disabled="isCounter(currentNetwork.coin.code, '')"
								translate="as_counter">As Counter Asset</button>
						</div>
					</div>
					<div ng-repeat="(code, sublines) in lines">
						<div class="row" ng-repeat="(issuer, line) in sublines">
							<div class="row__fixedAsset" ng-init="gateway=gateways.getSourceById(line.issuer, line.code)">
								<gateway name="{{gateway.name}}" logo="{{gateway.logo}}"
										website="{{gateway.website}}" code="{{line.code}}" address="{{line.issuer}}"></gateway>
							</div>
							<div class="row__shareOption">
								<button class="s-button btn btn-success"
									ng-click="pick('base', line.code, line.issuer)"
									ng-disabled="isBase(line.code, line.issuer)"
									translate="as_base">As Base Asset</button>
							</div>
							<div class="row__shareOption">
								<button class="s-button btn btn-success"
									ng-click="pick('counter', line.code, line.issuer)"
									ng-disabled="isCounter(line.code, line.issuer)"
									translate="as_counter">As Counter Asset</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="offers_pad row" ng-show="!show_pair">
			<div class="bidoffer col-xs-12 col-sm-6">
				<div class="listings">
						<h3 class="manager_title">{{'buy' | translate}} {{base_code}}</h3>
						<div class="row input-field">
							<div class="col-xs-4 input-lable" translate="order_amount">Amount</div>
							<div class="col-xs-8">
								<div class="input-group">
									<input type="text" class="form-control" ng-model="buy_amount" ng-change="calculate('buy_amount')">
									<div class="input-group-addon addon-font">{{base_code}}</div>
								</div>
							</div>
					</div>
					<div class="row input-field">
							<div class="col-xs-4 input-lable" translate="price_of_each">price_of_each</div>
							<div class="col-xs-8">
								<div class="input-group">
									<input type="text" class="form-control" ng-model="buy_price" ng-change="calculate('buy_price')">
									<div class="input-group-addon addon-font">{{counter_code}}</div>
								</div>
							</div>
					</div>
					<div class="row input-field">
							<div class="col-xs-4 input-lable">{{'order_value' | translate}}</div>
							<div class="col-xs-8">
								<div class="input-group">
									<input type="text" class="form-control" ng-model="buy_volume" ng-change="calculate('buy_volume')">
									<div class="input-group-addon addon-font">{{counter_code}}</div>
								</div>
							</div>
					</div>
					<div class="row submit-field">
							<div class="overview">
								{{'you_have' | translate}} {{getBalance(counter_code, counter_issuer)}} {{counter_code}}
							</div>
							<div class="s-alert s-alert--success" ng-show="buy_ok" translate="offer_success">Offer successfully created</div>
							<div class="s-alert s-alert--error" ng-show="buy_fail">{{buy_fail}}</div>
							<button class="btn btn-success" ng-click="offer('buy')" ng-disabled="buying">{{'buy' | translate}} {{base_code}}</button>
					</div>
				</div>
			</div>
			
			<div class="askoffer col-xs-12 col-sm-6">
				<div class="listings">
						<h3 class="manager_title">{{'sell' | translate}} {{base_code}}</h3>
						<div class="row input-field">
							<div class="col-xs-4 input-lable" translate="order_amount">Amount</div>
							<div class="col-xs-8 input-group">
									<input type="text" class="form-control" ng-model="sell_amount" ng-change="calculate('sell_amount')">
									<div class="input-group-addon addon-font">{{base_code}}</div>
							</div>
					</div>
					<div class="row input-field">
							<div class="col-xs-4 input-lable" translate="price_of_each">price_of_each</div>
							<div class="col-xs-8 input-group">
								<input type="text" class="form-control" ng-model="sell_price" ng-change="calculate('sell_price')">
								<div class="input-group-addon addon-font">{{counter_code}}</div>
							</div>
					</div>
					<div class="row input-field">
							<div class="col-xs-4 input-lable">{{'order_value' | translate}}</div>
							<div class="col-xs-8 input-group">
								<input type="text" class="form-control" ng-model="sell_volume" ng-change="calculate('sell_volume')">
								<div class="input-group-addon addon-font">{{counter_code}}</div>
							</div>
					</div>
					<div class="row submit-field">
							<div class="overview">
								{{'you_have' | translate}} {{getBalance(base_code, base_issuer)}} {{base_code}}
							</div>
							<div class="s-alert s-alert--success" ng-show="sell_ok" translate="offer_success">Offer successfully created</div>
							<div class="s-alert s-alert--error" ng-show="sell_fail">{{sell_fail}}</div>
							<button class="btn btn-success" ng-click="offer('sell')" ng-disabled="selling">{{'sell' | translate}} {{base_code}}</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="orderbook_pad row" ng-show="!show_pair">
			<div class="orderbook_header">{{'orderbook' | translate}}
				<a class="btn btn-success btn-sm" ng-click="refreshBook()" ng-disabled="refreshingBook">
					<span class="glyphicon glyphicon-refresh"></span> {{'refresh' | translate}}</a>
			</div>
			<div class="orderbook">
				<div class="bookboard col-xs-12">
					<div class="bids col-xs-12 col-sm-6">
						<h3 class="title" translate="buy_offers">Buy offers</h3>
						<div class="row head" ng-show="book.bids.length">
							<div class="col-xs-4">{{'sum' | translate}} <div class="currency">{{base_code}}</div></div>
							<div class="col-xs-4">{{'order_amount' | translate}} <div class="currency">{{base_code}}</div></div>
							<div class="col-xs-4">{{'price' | translate}}<div class="currency">{{counter_code}}</div></div>
						</div>
						<div class="row" ng-repeat="item in book.bids" ng-click="pickPrice('bid', item.price)">
							<div class="col-xs-4">{{item.size | number: precise}}</div>
							<div class="col-xs-4">{{item.amount | number: precise}}</div>
							<div class="col-xs-4">{{item.price | number: price_precise}}</div>
						</div>
						<div ng-show="!book.bids.length" class="message" translate="no_bids">There are currently no bids for this pair.</div>
					</div>
					
					<div class="asks col-xs-12 col-sm-6">
						<h3 class="title" translate="sell_offers">Sell offers</h3>
						<div class="row head" ng-show="book.asks.length">
							<div class="col-xs-4">{{'price' | translate}}<div class="currency">{{counter_code}}</div></div>
							<div class="col-xs-4">{{'order_amount' | translate}} <div class="currency">{{base_code}}</div></div>
							<div class="col-xs-4">{{'sum' | translate}} <div class="currency">{{base_code}}</div></div>
						</div>
						<div class="row" ng-repeat="item in book.asks" ng-click="pickPrice('ask', item.price)">
							<div class="col-xs-4">{{item.price | number: price_precise}}</div>
							<div class="col-xs-4">{{item.amount | number: precise}}</div>
							<div class="col-xs-4">{{item.size | number: precise}}</div>
						</div>
						<div ng-show="!book.asks.length" class="message" translate="no_asks">There are currently no asks for this pair.</div>
					</div>
				</div>
			</div>
		</div>


		<div class="listings_pad row" ng-show="!show_pair">
			<div class="listings_header">{{'manager_offer' | translate}}
				<a class="btn btn-success btn-sm" ng-click="refreshOffer()" ng-disabled="refreshingOffer">
					<span class="glyphicon glyphicon-refresh"></span> {{'refresh' | translate}}
				</a>
				<a class="danger" ng-show="cancel_error">{{cancel_error}}</a>
				<div style="float:right"><input type="checkbox" ng-model="showAdvanced">{{ 'advanced' | translate}}</div>
			</div>
			
			<div class="bidoffer col-xs-12 col-sm-6" ng-hide="showAdvanced">
					<div class="listings"><div class="my">
						<h3 class="offer_title" translate="your_buy_offers">Your buy offers</h3>
						<div class="row head" ng-show="objKeyLength(offers.bid)">
							<div class="col-xs-3 right">{{'price' | translate}}</div>
							<div class="col-xs-3 right">{{'order_amount' | translate}}</div>
							<div class="col-xs-4 right">{{'total' | translate}}</div>
							<div class="col-xs-2 right"> </div>
						</div>
						<div class="row" ng-repeat="(id, item) in offers.bid" ng-class="{cancelling: isCancelling(item.id)}">
							<div class="col-xs-3 right">{{item.price | number: price_precise}}</div>
							<div class="col-xs-3 right">{{item.amount | fmtnum}} {{base_code}}</div>
							<div class="col-xs-4 right">{{item.volume | fmtnum}} {{counter_code}}</div>
							<div class="col-xs-2 action">
								<i class="fa fa-spinner fa-pulse" ng-show="isCancelling(item.id)"></i>
								<a href="javascript:" ng-click="cancel(item.id, 'all')" class="danger">{{'offer_cancel' | translate}}</a>
							</div>
				    </div>
				    <div ng-show="!objKeyLength(offers.bid)" class="message" translate="no_offers">You haven't placed any orders.</div>
					</div></div>
				</div>
				
				<div class="askoffer col-xs-12 col-sm-6" ng-hide="showAdvanced">
					<div class="listings"><div class="my">
						<h3 class="offer_title" translate="your_sell_offers">Your sell offers</h3>
						<div class="row head" ng-show="objKeyLength(offers.ask)">
							<div class="col-xs-3 right">{{'price' | translate}}</div>
							<div class="col-xs-3 right">{{'order_amount' | translate}}</div>
							<div class="col-xs-4 right">{{'total' | translate}}</div>
							<div class="col-xs-2 right"> </div>
						</div>
						<div class="row" ng-repeat="(id, item) in offers.ask" ng-class="{cancelling: isCancelling(item.id)}">
							<div class="col-xs-3 right">{{item.price | number: price_precise}}</div>
							<div class="col-xs-3 right">{{item.amount | fmtnum}} {{base_code}}</div>
							<div class="col-xs-4 right">{{item.volume | fmtnum}} {{counter_code}}</div>
							<div class="col-xs-2 action">
								<i class="fa fa-spinner fa-pulse" ng-show="isCancelling(item.id)"></i>
								<a href="javascript:" ng-click="cancel(item.id, 'all')" class="danger">{{'offer_cancel' | translate}}</a>
							</div>
				    </div>
				    <div ng-show="!objKeyLength(offers.ask)" class="message" translate="no_offers">You haven't placed any orders.</div>
					</div></div>
				</div>
				
				<div class="listings" ng-show="showAdvanced">
				  <div class="my">
						<div class="row head" ng-show="objKeyLength(offers.all)">
							<div class="col-sm-2 right" translate="price">Price</div>
							<div class="col-sm-2 right" translate="amount">Amount</div>
							<div class="col-sm-3 right" translate="buying">Buying</div>
							<div class="col-sm-3 right" translate="selling">Selling</div>
							<div class="col-sm-2"> </div>
						</div>
						<div class="row" ng-repeat="(id, item) in offers.all" ng-class="{cancelling: isCancelling(item.id)}">
							<div class="col-sm-2 right">{{item.price | number: 4}}</div>
							<div class="col-sm-2 right">{{item.amount | number: 4}}</div>
							<div class="col-sm-3 right">{{item.buy_code}}<span class="issuer" ng-show="item.buy_issuer">({{item.buy_issuer | shortaddress}})</span></div>
							<div class="col-sm-3 right">{{item.sell_code}}<span class="issuer" ng-show="item.sell_issuer">({{item.sell_issuer | shortaddress}})</span></div>
							<div class="col-sm-2 action">
								<i class="fa fa-spinner fa-pulse" ng-show="isCancelling(item.id)"></i>
								<a href="javascript:" ng-click="cancel(item.id, 'all')" class="danger">{{'offer_cancel' | translate}}</a>
							</div>
						</div>
						<div ng-hide="objKeyLength(offers.all)" class="message" translate="no_offers">You haven't placed any orders.</div>
					</div>
				</div>
			
		</div>

	</div>
	</group>
</section>